* {
    font-family: Inter;
}

.banner-section {
    color: #faf6f6;
    text-align: center;
    font-family: Merriweather;
    background-image: url("Banner\ Image.png");
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 50px 120px;
}

.intro {
    color: #1f0736;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 185px;
    padding-left: 530PX;
    padding-right: 533PX;
}

.about {
    color: #1f0736;
    text-align: center;
    font-size: 90px;
    font-weight: 900;
    line-height: 95px;
    padding-bottom: 177px;
    /* 131.944% */
}

.red {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.offer {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 40px;
}

#catagory {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.nw-year {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info {
    background-image: url(Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.jbtn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 128px;
}

.party {
    width: 600px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    padding-left: 126px;
    padding-top: 126px;
}

.detail {
    padding-left: 126px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.time {
    margin-left: 20px;
    margin-top: 60px;
    padding-left: 150px;
}

span {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}

.held {
    width: 1320px;
    height: 482px;
    background-color: rgb(251, 201, 201);
    text-align: center;
    font-size: 32px;
    margin: auto;
    border: none;
    border-radius: 5px;
}

.btn-j {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    background-color: #F00;
    font-size: 20px;
    font-family: Inter;
    border: none;
    border-radius: 5px;
}

.jamela {
    padding-top: 100px;
}

.content {
    display: flex;
    margin: auto;
}

.ofertime {
    width: 393px;
    height: 128px;
    margin: auto;
}

.font-primary {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.offerfor {
    width: 393px;
    height: 128px;
    margin: auto;
}

.pic {
    width: 463px;
    height: 463px;
    background-color: #FFF;
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 48px;
}

.new {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.come {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.time2 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.func {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.holysale {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

.holy2 {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.funch {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
}

.rectangle {
    border-radius: 16px 16px 0px 0px;
    margin: auto;
    grid-area: auto;
}

.image-section {
    margin: 0px;
    display: flex;
}

.sec {
    width: 1320px;
}

.discount {
    color: #FFF;
    font-family: Inter;
    font-size: 73.015px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.puf {
    fill: linear-gradient(90deg, #FFF 0.26%, #1D1D1B 100.35%);
    background-blend-mode: screen;
    mix-blend-mode: screen;
}

.bottom {
    width: 1320px;
    height: 229px;
    flex-shrink: 0;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
    position: bottom;
}

.port {
    margin: 50px;
}

.column {
    float: left;
    width: 30%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    margin: 50px;
}

.news {
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin: auto;
}

.bt {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
}

.em {
    width: 648px;
    height: 72px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: none;
}


/* 
.end {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    background-color: #070211;
    display: flex;
    margin: auto;
    width: 1600px;
    height: 609px;
}

.web {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-left: 800px;
}

.font-ft {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-left: 140px;
    padding-top: 120px;
}

.contc {
    padding-left: 800px;
    padding-top: 120px;
}

.last {
    text-align: justify;
}



.image {
    width: 22.003px;
    height: 42.413px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

.last-container {
    height: 700px;
    background-color: #0e0337;
    color: #faf6f6;
}

.adress {
    display: flex;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.section {
    padding-left: 50px;
    padding-top: 60px;
    margin-left: 700px;
}

.tm {
    padding-top: 60px;
    padding-left: 50px;
    margin-left: 130px;
}

hr {
    width: 1320px;
    height: 0px;
}

.social-links {
    width: 22.003px;
    height: 42.413px;
    display: flex;
    padding-left: 45%;
}

a {
    font-style: none;
    text-decoration: none;
    color: #FFF;
}